.PersonalProjectHeader{
    text-align: center;
}

.PersonalProjectBody{
    text-align: center;
    margin: 0% 5% 0% 5%;
}

.PersonalProjectRow{
    display: flex;
}

.PersonalProjectOne{

}

.PersonalProjectOneImg{
 
}

#PersonalProjectOneImage{
    width: 100%;
    height: auto;

    min-width: 70%;
    min-height: 70%;
}

.PersonalProjectOneText{
    list-style: square;
}

.PersonalProjectOneText li:not(:last-child){
    margin-bottom: 33%;
}

.PersonalProjectOneButtons{
    /* display: grid;
    grid-template-columns: repeat(2, minmax(240px, 1fr)); */
    margin-top: 5%;
    
    display: flex;
    justify-content: center;
    
}

.PersonalProjectOneRepo{
    padding-right: 5%;
}