.ExperienceHeader{
    text-align: center;
}

.WorkOne{
    display: block;
}

.WorkOneTextTitle{
    margin-bottom: 1%;
    text-align: center;
}

.WorkOneTextTitleDate{
    
}

.ProjectOne{
    
    text-align: center;
    border: solid;
    border-color: #FF9833;
}

.ProjectOneHeader{
    font-weight: bold;
}

.ProjectOneText{
    list-style-position: inside;
    text-align: initial;
    overflow: auto;
    
}

.ProjectOneButtons{
    display: flex;
    justify-content: center;
}

.ProjectOneRepo{
    padding-right: 5%;
}

.ProjectTwo{  
    text-align: center;
    border: solid;
    border-color: #FF9833;
}

.ProjectTwoText{
    text-align: initial;
    list-style-position: inside;
    overflow: auto;
    margin-right: 1%;
}

#ProjectOneImg{
    width: 75%;
    height: 75%;
}

#ProjectTwoImg{
    width: 75%;
    height: 75%;
}

.Projects{
    display: flex;

    grid-template-columns: repeat(2, minmax(240px, 1fr));
}