.ContactBody{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.Email{
    height: 100vh;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.EmailLogo{

}

.GitHub{
    height: 100vh;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LinkedIn{
    height: 100vh;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}