#HomeSection{
     margin: 5%; 
     display: flex;
}

#HeaderSection{
    display: flex;
}

#SkillsSection{
    /* margin-top: 5%; 
    /* background-color: #565594; */
   
    
}

#ExperienceSection{
     margin-top: 5%; 
    /* background-color: #f5f8fa; */
    display: flex;
}

#PersonalProjectSection{
     margin-top: 5%; 
    /* background-color: #565594; */
    display: flex;
}

#ContactMeSection{
     margin-top: 5%; 
    /* background-color: #565594; */
    /* display: flex;
    justify-content: center; */
}

.SpaceFiller{
    height: 1%;
    width: 100%;
    clear: both;

}

.App{
    /* display: flex; */
    /* This makes the website un adaptive, might be for the best at the moment */
    
    flex-direction: column;
    
}