#HomeSection{
    margin: 5%;
}

#SkillsSection{
    margin: 5%;
}

#ExperienceSection{
    margin: 5%;
}

#PersonalProjectSection{
    margin: 5%;
}

#ContactMeSection{
    margin: 5%;
}

.SpaceFiller{
    height: 1%;
    width: 100%;
    clear: both;
}

.App{
    display: flex;
    /* This makes the website un adaptive, might be for the best at the moment */
    
    flex-direction: column;
    
}